[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
speechrecognition = "*"
pyaudio = "*"
pyttsx3 = "*"
django = "*"
python-dotenv = "*"
gtts = "*"
"requires.io" = "*"
pygame = "*"
threaded = "*"
playsound = "*"

[dev-packages]

[requires]
python_version = "3.11"
