* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backimg::before {
  content: " ";
  /* background-image: url("https://www.theindiaforum.in/sites/default/files/field/image/2022/06/21/ramkumar-radhakrishnan-wikimedia-1622193304-1622193304.jpeg"); */
  /* background-image: linear-gradient(
    to top,
    #bfdce5,
    #95cdee,
    #7fb8f8,
    #8a9ef9,
    #ad7be9
  ); */
  background-image: linear-gradient(
    to top,
    #bfdce5,
    #95cdee,
    #7fb8f8,
    #8a9ef9,
    #ad7be9
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

#loading {
  position: fixed;
  left: 50%;
  top: 53%;
  z-index: 999;

  display: none;

  transform: translate(-50%, -50%);
  z-index: 9999;
}

#loading img {
  display: block;
  margin: 0 auto;
  height: 8vmax;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 1;
  position: relative;
}

#maindata {
  opacity: 0;
}

.mainheading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 37%;
  display: flex;
  align-items: center;
  background-color: #bfdce5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 1vmax;
  padding: 0.2vmax;
}

.mainheading button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(219, 64, 64, 0.878);
  font-size: 0.8vmax;
  padding: 0.3vmax;
  border-radius: 14px;
  margin-left: auto;
  margin-right: 0.7vmax;
}

#maininfo {
  margin-top: 5vmax;
  width: 60vmax;
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#maininfo h1 {
  font-family: "PT Serif", serif;
  color: #4f4557;
}

#maininfo p {
  font-size: 2vmax;
  color: #6d5d6e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.managelottie {
  display: flex;
}

.mainheading h4 {
  margin: 0px;
  font-weight: 600;
  font-family: "PT Serif", serif;
}

.mainimg {
  height: 34px;
  border-radius: 100%;
  padding-left: 1.4vmax;
  padding-right: 0.4vmax;
}

.openchatbot {
  border-radius: 20px;
  border: none;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10;
}
.botbutton {
  padding: 0.2vmax;
  border-radius: 10px;
  background-image: linear-gradient(
    to top,
    #bfdce5,
    #95cdee,
    #7fb8f8,
    #8a9ef9,
    #ad7be9
  );
  border: none;
  transition: all 0.3s;
  color: black;
  
}

#buttonInput {
  color: #eeeeee;
  margin-left: 1vmax;
}

.botbutton:hover {
  color: white;
}

.leftimage {
  position: fixed;
  left: 1%;
  top: 20%;
  height: 90vmax;
}
iframe {
  height: 20vmax;
  border: none;
}

.rightimage {
  position: fixed;
  right: 11%;
  top: 60%;
}

.rightimage img {
  height: 20vmax;
}

#userInput {
  display: flex;
  justify-content: center;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0.5vmax;
  width: 37%;
  background-color: #bfdce5;
}

#textInput {
  padding: 0.4vmax;
  background-color: rgba(173, 173, 173, 0.429);
  color: black;
  border-radius: 15px;
  border: none;
  margin-right: 0.3vmax;
  width: 80%;
  padding: 10px;
}

input:focus,
input:focus {
  outline: none;
}

#buttonInput {
  border-radius: 20px;
  border: none;
  background-color: #3e54ac;
  transition: all 0.3s;
  padding-left: 0.6vmax;
  padding-right: 0.6vmax;
}

.chatcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37%;
  background-color: rgba(175, 165, 165, 0.7);
  padding-bottom: 0.2vmax;
  padding-top: 1.3vmax;
  height: 70vh;
  overflow-y: auto;
}

.userText {
  background-color: #eeeeee;
  color: black;
  padding: 0.5vmax;

  width: 40%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: 0.4vmax;
}

.botText {
  background-color: #3e54ac;
  color: white;
  padding: 0.5vmax;
  width: 40%;
  border-radius: 30px;
  margin-right: auto;
  margin-left: 0.4vmax;
}

#buttonInput:hover {
  cursor: pointer;
  background-color: rgba(115, 115, 200, 0.479);
  transform: translateY(-2px);
}
